<h1><%= @profile.name %>'s Profile</h1>
<p>Age: <%= @profile.age %></p>
<p>Dance Style: <%= @profile.dance_style %></p>
<p>Dances: <% @profile.dances %>
</p>
<p>Bio: <%= @profile.bio %></p>

<%= link_to 'Edit Profile', edit_profile_path(@profile) %>
