<div class="contenu-body">
  <% if current_user == nil %>
  <div class="responsive-container">
    <div class="title-profile">
      <h1>Dancing Partners</h1>
      <p>The First WorldWide Dancers Community</p>
      <div class="section-navbar-logout">

          <div class="column-2">
            <a class="link"><%= link_to "Connexion", new_user_session_path %></a>
          </div>
          <div class="column-2">
            <a class="link"><%= link_to "Communauté", users_index_path %></a>
          </div>
          <div class="column-2">
            <a class="link"><%= link_to "Danses", dances_path %></a>
          </div>
          <div class="column-2">
            <a class="link"><%= link_to "Agenda", events_index_path %></a>
          </div>

      </div>
    </div>
  </div>
      <% else %>
  <div class="responsive-container-2">
    <div class="title-profile">
      <div class="navbar-sup" style="display:flex;" >
        <div class="titres-navbar" >
          <h1><%= link_to "Dancing Partners", root_path %></h1>
          <p><%= link_to "The First WorldWide Dancers Community", root_path %></p>
        </div>
        <div class="current-user-avatar-2" >
          <div class="picProfile">
            <%= cl_image_tag current_user.photo.key if current_user.photo.attached? %><br>
          </div>
          <div class="nameProfile">
            <a><%= current_user.name %></a>
          </div>
        </div>
      </div>
      <div class="section-navbar-login">

          <div class="column-2">
            <a class="link"><%= link_to "Profil", profile_path(current_user) %></a>
          </div>
          <div class="column-2">
            <a class="link"><%= link_to "Communauté", users_index_path %></a>
          </div>
          <div class="column-2">
            <a class="link"><%= link_to "Danses", dances_path %></a>
          </div>
          <div class="column-2">
            <a class="link"><%= link_to "Evénements", events_path %></a>
          </div>
          <div class="column-2">
            <a class="link"><%= link_to "Edit", edit_profile_path(current_user) %></a>
          </div>
          <div class="column-2">
            <a class="link"><%= button_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' } %></a>
          </div>

      </div>
    </div>
  </div>
    <% end %>
</div>
